        <% user_signed_in? ? logo_path = groups_path : logo_path = root_path %>

<!DOCTYPE html>
<html>
<head>
  <title>getGroups</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>

  

    <div class="pure-menu pure-menu-fixed pure-menu-open pure-menu-horizontal float-right">
      <div class="wrapper-grid">
          <a href="#" class="">
      <%= link_to image_tag('small_logo.PNG', class: 'displ-inline'), logo_path %>
    </a>
    <ul class="new-menu-because-pure-sucks">
      <li class="pure-menu-selected"><a href="/">Home</a></li>
      <% if user_signed_in? %>
        
        <li><%= link_to 'My Groups', groups_path %></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
        
      <% else %>
        <li><%= link_to 'Sign Up / Sign In', new_user_registration_path %>
          </li>
      <% end %>
    </ul>
</div>
</div>



<%= yield(:banner) %>
<div class="l-content">
<%= yield %>
</div>
</body>
</html>